<a href="https://colab.research.google.com/github/MarianaDuartee/Pyspark/blob/main/Pyspark1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* DataSet - Conjunto de Dados
* DataFrame (Tabelas) - estrutura de duas dimensões, no qual cada coluna pode possuir um tipo primário diferente. São utilizados para armazenar bases de dados.

---

* Com o Pandas e o Pyspark, nós analisamos um DataSet e realizamos algumas normalizações e consultas.
* O Pyspark realiza processamentos mais rápidos quando se trata de datasets grandes

#Pyspark

> * Biblioteca para Python que "conecta" ao Apache Spark por ser uma API Python
> * Utilizado para grandes quantidades de dados - BigData
> * Ao contrario do Pandas, trabalha com Streamings, ou seja, processamento de dados em tempo real
> * Também, ao contrario do Pandas, é escalonavel, ou seja, distribui os dados para o processamento rápido.

#Instalando a Bibliota -Pyspark

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 37 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 58.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=9672b6b02f55b143c2c507ad24e89488e8aa976fa12432bb241a3f30e0b1a3af
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

#Para executar os codigos

* SparkSession - String que conecta o codigo da aplicação ao Spark
* Importar funções do Pyspark : pyspark.sql.functions

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

#Configurar o SparkSession

variavel = SparkSession.builder - (*construção*)

.master("local") - (*definindo quem é a maquina master - computador local*)

.appName('nomedaaplicação') - (*Qual nome do aplicativo que vou criar em pyspark*)

.config("spark.ui.port","4050") - (*Configuração para acessar o apache spark pela porta 4050*)

.getOrCreate() - (*Iniciar a sessão com o Spark*)

In [3]:
spark = (SparkSession.builder
         .master("local")
         .appName("aprendendo-dataframes")
         .config("spark.ui.port","4050")
         .getOrCreate())

#Verificar se esta instalado

In [4]:
spark

#Criando Dataframes

> dados = [(dados1),(dados2),(dados3),(dados4)]

* Primeira linha do Dataframe = Colunas = Schema

> esquema = ["NomeColuna1","NomeColuna2",...]

* Criar o dataframe

> df = spark.createDataFrame(data=dados,schema = esquema)

* Mostrar o dataframe 

> df.show()

> Sem passar quantas linhas dentro do (), ele mostra automaticamente as 20 primeiras

In [5]:
dados = [
         ("Mariana Duarte","Araújos","MG",3500.00),
         ("Bismark Willian","São Paulo","SP",4700.00),
         ("Lucas Brandão","São Paulo","SP",2100.00),
         ("Ana Andrade","Centralina","MG",3200.00)
]

esquema = ["Nome","Cidade","Estado","Salario"]

df = spark.createDataFrame(data = dados,schema=esquema)

df.show()

+---------------+----------+------+-------+
|           Nome|    Cidade|Estado|Salario|
+---------------+----------+------+-------+
| Mariana Duarte|   Araújos|    MG| 3500.0|
|Bismark Willian| São Paulo|    SP| 4700.0|
|  Lucas Brandão| São Paulo|    SP| 2100.0|
|    Ana Andrade|Centralina|    MG| 3200.0|
+---------------+----------+------+-------+

* Mostrar os tipos de dados presentes no Schema

In [6]:
df.printSchema()

root
 |-- Nome: string (nullable = true)
 |-- Cidade: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Salario: double (nullable = true)

#Importar dados csv

dataframe = (spark
  > .read (*Lê o arquivo e importa no dataframe*)

  > .format("formatoArquivo") (*Mostra qual tipo de arquivo estamos lendo*)

  > .option("header","true") (*Mostrar o cabeçalho*)

  > .option("inferschema","true") (*Retorna os tipos de dados certos das colunas*)

  > .option("delimiter",";") (*Mostrar que o arquivo é delimitado por ponto e virgula*)
  
  > .load("caminhoDoArquivo")

In [7]:
df2 = (spark
       .read 
       .format("csv") 
       .option("header","true") 
       .option("inferschema","true") 
       .option("delimiter",";") 
       .load("/content/drive/MyDrive/DataSets/arquivo_geral.csv")
)
       
df2.show(10)

+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+----------+----------+---------------+-----------+----------------+
| Norte|    RO|2020-01-30|         0|              0|          0|               0|
| Norte|    RO|2020-01-31|         0|              0|          0|               0|
| Norte|    RO|2020-02-01|         0|              0|          0|               0|
| Norte|    RO|2020-02-02|         0|              0|          0|               0|
| Norte|    RO|2020-02-03|         0|              0|          0|               0|
| Norte|    RO|2020-02-04|         0|              0|          0|               0|
| Norte|    RO|2020-02-05|         0|              0|          0|               0|
| Norte|    RO|2020-02-06|         0|              0|          0|               0|
| Norte|    RO|2020-02-07|         0|              0|          0|               0|
| Norte|    RO|2020-02-08|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 10 rows

In [8]:
df2.printSchema()

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: string (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- casosAcumulados: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- obitosAcumulados: integer (nullable = true)

#Funções de DataFrame

* SELECT: Seleciona as colunas que vão ser utilizadas

> 1º forma de utilização : 
>> `dataframe.select('colunas').show()`

> 2º forma de utilização: (Com funções)
>> `dataframe.select(F.col('nomecoluna')).show()` - *Retorna as colunas*
>>

---

* FILTER: 
> `dataframe.select(F.col('nomecoluna')).filter(F.col('coluna') == "Filtro").show()`

>  Formas de selecionar a coluna no filter: F.col() | dataframe.nomecoluna | "nomeColuna = 'Filtro'"

> Outra maneira de usar os Filtros é armazenando o filtro em uma variavel :
>> filtro = F.col('coluna') == 'Filtro'

In [9]:
df2.select("regiao","estado","data","casosNovos").show(50)

+------+------+----------+----------+
|regiao|estado|      data|casosNovos|
+------+------+----------+----------+
| Norte|    RO|2020-01-30|         0|
| Norte|    RO|2020-01-31|         0|
| Norte|    RO|2020-02-01|         0|
| Norte|    RO|2020-02-02|         0|
| Norte|    RO|2020-02-03|         0|
| Norte|    RO|2020-02-04|         0|
| Norte|    RO|2020-02-05|         0|
| Norte|    RO|2020-02-06|         0|
| Norte|    RO|2020-02-07|         0|
| Norte|    RO|2020-02-08|         0|
| Norte|    RO|2020-02-09|         0|
| Norte|    RO|2020-02-10|         0|
| Norte|    RO|2020-02-11|         0|
| Norte|    RO|2020-02-12|         0|
| Norte|    RO|2020-02-13|         0|
| Norte|    RO|2020-02-14|         0|
| Norte|    RO|2020-02-15|         0|
| Norte|    RO|2020-02-16|         0|
| Norte|    RO|2020-02-17|         0|
| Norte|    RO|2020-02-18|         0|
| Norte|    RO|2020-02-19|         0|
| Norte|    RO|2020-02-20|         0|
| Norte|    RO|2020-02-21|         0|
| Norte|    RO|2020-02-22|         0|
| Norte|    RO|2020-02-23|         0|
| Norte|    RO|2020-02-24|         0|
| Norte|    RO|2020-02-25|         0|
| Norte|    RO|2020-02-26|         0|
| Norte|    RO|2020-02-27|         0|
| Norte|    RO|2020-02-28|         0|
| Norte|    RO|2020-02-29|         0|
| Norte|    RO|2020-03-01|         0|
| Norte|    RO|2020-03-02|         0|
| Norte|    RO|2020-03-03|         0|
| Norte|    RO|2020-03-04|         0|
| Norte|    RO|2020-03-05|         0|
| Norte|    RO|2020-03-06|         0|
| Norte|    RO|2020-03-07|         0|
| Norte|    RO|2020-03-08|         0|
| Norte|    RO|2020-03-09|         0|
| Norte|    RO|2020-03-10|         0|
| Norte|    RO|2020-03-11|         0|
| Norte|    RO|2020-03-12|         0|
| Norte|    RO|2020-03-13|         0|
| Norte|    RO|2020-03-14|         0|
| Norte|    RO|2020-03-15|         0|
| Norte|    RO|2020-03-16|         0|
| Norte|    RO|2020-03-17|         0|
| Norte|    RO|2020-03-18|         0|
| Norte|    RO|2020-03-19|         0|
+------+------+----------+----------+
only showing top 50 rows

In [10]:
df2.select(F.col('regiao'),F.col('estado'),F.col('data'),F.col('casosNovos')).show(20)

+------+------+----------+----------+
|regiao|estado|      data|casosNovos|
+------+------+----------+----------+
| Norte|    RO|2020-01-30|         0|
| Norte|    RO|2020-01-31|         0|
| Norte|    RO|2020-02-01|         0|
| Norte|    RO|2020-02-02|         0|
| Norte|    RO|2020-02-03|         0|
| Norte|    RO|2020-02-04|         0|
| Norte|    RO|2020-02-05|         0|
| Norte|    RO|2020-02-06|         0|
| Norte|    RO|2020-02-07|         0|
| Norte|    RO|2020-02-08|         0|
| Norte|    RO|2020-02-09|         0|
| Norte|    RO|2020-02-10|         0|
| Norte|    RO|2020-02-11|         0|
| Norte|    RO|2020-02-12|         0|
| Norte|    RO|2020-02-13|         0|
| Norte|    RO|2020-02-14|         0|
| Norte|    RO|2020-02-15|         0|
| Norte|    RO|2020-02-16|         0|
| Norte|    RO|2020-02-17|         0|
| Norte|    RO|2020-02-18|         0|
+------+------+----------+----------+
only showing top 20 rows

In [11]:
#Exibir a região,estado e casosNovos apenas da região Sudeste

#1º Maneira
df2.select(F.col('regiao'),F.col('estado'),F.col('casosNovos')).filter(F.col('regiao') == 'Sudeste').show(20)

+-------+------+----------+
| regiao|estado|casosNovos|
+-------+------+----------+
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
+-------+------+----------+
only showing top 20 rows

In [12]:
#Exibir a regiao, estado, casosNovos com a data 2020-02-07
df2.select(F.col('regiao'),F.col('estado'),F.col('casosNovos')).filter(F.col('data') == '2020-02-07').show(50)

+------------+------+----------+
|      regiao|estado|casosNovos|
+------------+------+----------+
|       Norte|    RO|         0|
|       Norte|    AC|         0|
|       Norte|    AM|         0|
|       Norte|    RR|         0|
|       Norte|    PA|         0|
|       Norte|    AP|         0|
|       Norte|    TO|         0|
|    Nordeste|    MA|         0|
|    Nordeste|    PI|         0|
|    Nordeste|    CE|         0|
|    Nordeste|    RN|         0|
|    Nordeste|    PB|         0|
|    Nordeste|    PE|         0|
|    Nordeste|    AL|         0|
|    Nordeste|    SE|         0|
|    Nordeste|    BA|         0|
|     Sudeste|    MG|         0|
|     Sudeste|    ES|         0|
|     Sudeste|    RJ|         0|
|     Sudeste|    SP|         0|
|         Sul|    PR|         0|
|         Sul|    SC|         0|
|         Sul|    RS|         0|
|Centro-Oeste|    MS|         0|
|Centro-Oeste|    MT|         0|
|Centro-Oeste|    GO|         0|
|Centro-Oeste|    DF|         0|
+------------+------+----------+

In [13]:
#2º Maneira
df2.select(F.col("regiao"), F.col("estado"), F.col("casosNovos")).filter(df2.regiao == "Nordeste").show(50)

+--------+------+----------+
|  regiao|estado|casosNovos|
+--------+------+----------+
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
+--------+------+----------+
only showing top 50 rows

In [14]:
#3º Maneira
df2.select(F.col("regiao"), F.col("estado"), F.col("casosNovos")).filter("regiao = 'Sudeste'").show(20)

+-------+------+----------+
| regiao|estado|casosNovos|
+-------+------+----------+
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
+-------+------+----------+
only showing top 20 rows

In [15]:
#4º Maneira
#Criando uma variavel
filtro = F.col('regiao') == 'Sul'
df2.select(F.col("regiao"), F.col("estado"), F.col("casosNovos")).filter(filtro).show(50)

+------+------+----------+
|regiao|estado|casosNovos|
+------+------+----------+
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         6|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         7|
|   Sul|    PR|        10|
+------+------+----------+
only showing top 50 rows

#Lista dinamica com varias colunas

* Utilizar dentro do comando select :
> dataframe.select(lista).filter(filtro).show()

In [16]:
lista_colunas = ['regiao','estado','data','casosAcumulados','obitosAcumulados']
filtro = F.col('data') >= "2020-03-20"
df2.select(lista_colunas).filter(filtro).show(20)

+------+------+----------+---------------+----------------+
|regiao|estado|      data|casosAcumulados|obitosAcumulados|
+------+------+----------+---------------+----------------+
| Norte|    RO|2020-03-20|              1|               0|
| Norte|    RO|2020-03-21|              1|               0|
| Norte|    RO|2020-03-22|              3|               0|
| Norte|    RO|2020-03-23|              3|               0|
| Norte|    RO|2020-03-24|              3|               0|
| Norte|    RO|2020-03-25|              5|               0|
| Norte|    RO|2020-03-26|              5|               0|
| Norte|    RO|2020-03-27|              6|               0|
| Norte|    RO|2020-03-28|              6|               0|
| Norte|    RO|2020-03-29|              6|               0|
| Norte|    RO|2020-03-30|              6|               0|
| Norte|    RO|2020-03-31|              8|               1|
| Norte|    RO|2020-04-01|              9|               1|
| Norte|    RO|2020-04-02|             10|               1|
| Norte|    RO|2020-04-03|             10|               1|
| Norte|    RO|2020-04-04|             11|               1|
| Norte|    RO|2020-04-05|             12|               1|
| Norte|    RO|2020-04-06|             14|               1|
| Norte|    RO|2020-04-07|             18|               1|
| Norte|    RO|2020-04-08|             18|               1|
+------+------+----------+---------------+----------------+
only showing top 20 rows

#Aplicar mais de um filtro dentro do DataFrame


> 1. **Vários filters:** .filter().filter() ...

In [ ]:
filtroRegiao = F.col('regiao') == 'Sudeste'
filtroEstado = F.col('estado') == 'MG'
filtroData = F.col('data') >= '2020-03-20'
df2.select(F.col('estado'),F.col('data'),F.col('casosAcumulados'),F.col('obitosAcumulados')).filter(filtroRegiao).filter(filtroEstado).filter(filtroData).show(20)


> 2. **And :** .filter("coluna1 = 'filtro' and coluna2 = 'filtro').show()

In [20]:
df2.filter("regiao = 'Norte' and estado = 'AM'").show(10)

+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+----------+----------+---------------+-----------+----------------+
| Norte|    AM|2020-01-30|         0|              0|          0|               0|
| Norte|    AM|2020-01-31|         0|              0|          0|               0|
| Norte|    AM|2020-02-01|         0|              0|          0|               0|
| Norte|    AM|2020-02-02|         0|              0|          0|               0|
| Norte|    AM|2020-02-03|         0|              0|          0|               0|
| Norte|    AM|2020-02-04|         0|              0|          0|               0|
| Norte|    AM|2020-02-05|         0|              0|          0|               0|
| Norte|    AM|2020-02-06|         0|              0|          0|               0|
| Norte|    AM|2020-02-07|         0|              0|          0|               0|
| Norte|    AM|2020-02-08|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 10 rows


> 3. **Or :** .filter("coluna1 = 'filtro' or coluna2 = 'filtro').show()

In [21]:
df2.filter("regiao = 'Norte' or estado = 'AM'").show(10)

+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+----------+----------+---------------+-----------+----------------+
| Norte|    RO|2020-01-30|         0|              0|          0|               0|
| Norte|    RO|2020-01-31|         0|              0|          0|               0|
| Norte|    RO|2020-02-01|         0|              0|          0|               0|
| Norte|    RO|2020-02-02|         0|              0|          0|               0|
| Norte|    RO|2020-02-03|         0|              0|          0|               0|
| Norte|    RO|2020-02-04|         0|              0|          0|               0|
| Norte|    RO|2020-02-05|         0|              0|          0|               0|
| Norte|    RO|2020-02-06|         0|              0|          0|               0|
| Norte|    RO|2020-02-07|         0|              0|          0|               0|
| Norte|    RO|2020-02-08|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 10 rows


> 4. **F.col com & (and):** .filter((F.col('coluna1') == 'filtro') & (F.col('coluna2') == 'filtro')).show
> 5. **F.col com | (or):** .filter((F.col('coluna1') == 'filtro') | (F.col

In [ ]:
df2.filter((F.col("regiao") == 'Norte') & (F.col("estado") == 'AM')).show(10)
df2.filter((F.col("regiao") == 'Norte') | (F.col("estado") == 'AM')).show(10)



> **Filtro com WHERE**
*  dataframe.where((F.col('coluna1') == 'filtro') & (F.col('coluna2') == 'filtro')).show

In [23]:
df2.where((F.col("regiao") == 'Sul') & (F.col("estado") == 'RS')).show(10)

+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+----------+----------+---------------+-----------+----------------+
|   Sul|    RS|2020-01-30|         0|              0|          0|               0|
|   Sul|    RS|2020-01-31|         0|              0|          0|               0|
|   Sul|    RS|2020-02-01|         0|              0|          0|               0|
|   Sul|    RS|2020-02-02|         0|              0|          0|               0|
|   Sul|    RS|2020-02-03|         0|              0|          0|               0|
|   Sul|    RS|2020-02-04|         0|              0|          0|               0|
|   Sul|    RS|2020-02-05|         0|              0|          0|               0|
|   Sul|    RS|2020-02-06|         0|              0|          0|               0|
|   Sul|    RS|2020-02-07|         0|              0|          0|               0|
|   Sul|    RS|2020-02-08|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 10 rows

> * Consultar substrings (como Letras) especificas dentro de uma coluna:

dataframe.where(F.col('coluna') == 'filtro')).filter("coluna **like** '**substring%**'").show

> * Com % no fim da **substring%**, buscará aqueles que possuem a substring no inicio 
> * Com % no inicio da **%substring**, buscará aqueles que possuem a substring no final
> * Com % no inicio e no fim da **%substring%**, buscará aqueles que possuem a substring em qualquer lugar (inicio,meio,fim)

In [24]:
df2.where(F.col('regiao') == 'Sudeste').filter("estado like 'M%'").show()

+-------+------+----------+----------+---------------+-----------+----------------+
| regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+-------+------+----------+----------+---------------+-----------+----------------+
|Sudeste|    MG|2020-01-30|         0|              0|          0|               0|
|Sudeste|    MG|2020-01-31|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-01|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-02|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-03|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-04|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-05|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-06|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-07|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-08|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-09|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-10|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-11|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-12|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-13|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-14|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-15|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-16|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-17|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-18|         0|              0|          0|               0|
+-------+------+----------+----------+---------------+-----------+----------------+
only showing top 20 rows

In [25]:
df2.where(F.col('regiao')=='Norte').filter("estado like '%A'").show()

+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+----------+----------+---------------+-----------+----------------+
| Norte|    PA|2020-01-30|         0|              0|          0|               0|
| Norte|    PA|2020-01-31|         0|              0|          0|               0|
| Norte|    PA|2020-02-01|         0|              0|          0|               0|
| Norte|    PA|2020-02-02|         0|              0|          0|               0|
| Norte|    PA|2020-02-03|         0|              0|          0|               0|
| Norte|    PA|2020-02-04|         0|              0|          0|               0|
| Norte|    PA|2020-02-05|         0|              0|          0|               0|
| Norte|    PA|2020-02-06|         0|              0|          0|               0|
| Norte|    PA|2020-02-07|         0|              0|          0|               0|
| Norte|    PA|2020-02-08|         0|              0|          0|               0|
| Norte|    PA|2020-02-09|         0|              0|          0|               0|
| Norte|    PA|2020-02-10|         0|              0|          0|               0|
| Norte|    PA|2020-02-11|         0|              0|          0|               0|
| Norte|    PA|2020-02-12|         0|              0|          0|               0|
| Norte|    PA|2020-02-13|         0|              0|          0|               0|
| Norte|    PA|2020-02-14|         0|              0|          0|               0|
| Norte|    PA|2020-02-15|         0|              0|          0|               0|
| Norte|    PA|2020-02-16|         0|              0|          0|               0|
| Norte|    PA|2020-02-17|         0|              0|          0|               0|
| Norte|    PA|2020-02-18|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 20 rows

* **Filtros com lista de dados de uma coluna**

In [30]:
lista_regiao = ['Norte','Sudeste']
df2.filter(F.col('regiao').isin(lista_regiao)).show(20)

+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+----------+----------+---------------+-----------+----------------+
| Norte|    RO|2020-01-30|         0|              0|          0|               0|
| Norte|    RO|2020-01-31|         0|              0|          0|               0|
| Norte|    RO|2020-02-01|         0|              0|          0|               0|
| Norte|    RO|2020-02-02|         0|              0|          0|               0|
| Norte|    RO|2020-02-03|         0|              0|          0|               0|
| Norte|    RO|2020-02-04|         0|              0|          0|               0|
| Norte|    RO|2020-02-05|         0|              0|          0|               0|
| Norte|    RO|2020-02-06|         0|              0|          0|               0|
| Norte|    RO|2020-02-07|         0|              0|          0|               0|
| Norte|    RO|2020-02-08|         0|              0|          0|               0|
| Norte|    RO|2020-02-09|         0|              0|          0|               0|
| Norte|    RO|2020-02-10|         0|              0|          0|               0|
| Norte|    RO|2020-02-11|         0|              0|          0|               0|
| Norte|    RO|2020-02-12|         0|              0|          0|               0|
| Norte|    RO|2020-02-13|         0|              0|          0|               0|
| Norte|    RO|2020-02-14|         0|              0|          0|               0|
| Norte|    RO|2020-02-15|         0|              0|          0|               0|
| Norte|    RO|2020-02-16|         0|              0|          0|               0|
| Norte|    RO|2020-02-17|         0|              0|          0|               0|
| Norte|    RO|2020-02-18|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 20 rows

* **Filtro usando a Função .like**

In [31]:
df2.filter(F.col('regiao').like('C%')).show()

+------------+------+----------+----------+---------------+-----------+----------------+
|      regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------------+------+----------+----------+---------------+-----------+----------------+
|Centro-Oeste|    MS|2020-01-30|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-01-31|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-01|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-02|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-03|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-04|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-05|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-06|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-07|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-08|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-09|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-10|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-11|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-12|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-13|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-14|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-15|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-16|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-17|         0|              0|          0|               0|
|Centro-Oeste|    MS|2020-02-18|         0|              0|          0|               0|
+------------+------+----------+----------+---------------+-----------+----------------+
only showing top 20 rows

* Retornar quantas linhas o dataframe possui .count()

In [18]:
df2.count()

2349