<a href="https://colab.research.google.com/github/MarianaDuartee/Pyspark/blob/main/Pyspark4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)

In [6]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [7]:
spark = (SparkSession.builder
         .master("local")
         .appName("aprendendo-dataframes")
         .config("spark.ui.port","4050")
         .getOrCreate())

#Header

* Caso os arquivos não tenham cabeçalho

* Por padrão, caso nao tenha o cabeçalho definido, irá aparecer _c0, _c1 ...



---
* Maneiras de alterar o padrão:

1. .load("caminho").**toDF('coluna1','coluna2',...)** 

2. lista_colunas = ['coluna1','coluna2',...], e joga no .load().toDF(***lista_colunas**)

3. Utilizando Select + F.col() + Alias(AS):
> dataframe = dataframe.**select**(**F.col**('coluna').**alias**('novonome')...)

In [ ]:
#1º Maneira
df = (spark
      .read
      .format("csv")
      .option("header","false")
      .option("inferschema","false")
      .option("delimiter",";")
      .load("/content/drive/MyDrive/DataSets/arquivo_geral.csv").toDF("Um","Dois","Tres","Quatro","Cinco","Seis","Sete")
      )

df.show()

In [ ]:
df.printSchema()

In [13]:
#2º Maneira
lista_colunas = ["Um","Dois","Tres","Quatro","Cinco","Seis","Sete"]
df1 = (spark
      .read
      .format("csv")
      .option("header","false")
      .option("inferschema","false")
      .option("delimiter",";")
      .load("/content/drive/MyDrive/DataSets/arquivo_geral.csv").toDF(*lista_colunas)
      )

df1.show()

+------+------+----------+----------+---------------+-----------+----------------+
|    Um|  Dois|      Tres|    Quatro|          Cinco|       Seis|            Sete|
+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
| Norte|    RO|2020-01-30|         0|              0|          0|               0|
| Norte|    RO|2020-01-31|         0|              0|          0|               0|
| Norte|    RO|2020-02-01|         0|              0|          0|               0|
| Norte|    RO|2020-02-02|         0|              0|          0|               0|
| Norte|    RO|2020-02-03|         0|              0|          0|               0|
| Norte|    RO|2020-02-04|         0|              0|          0|               0|
| Norte|    RO|2020-02-05|         0|              0|          0|               0|
| Norte|    RO|2020-02-06|         0|              0|          0|               0|
| Norte|    RO|2020-02-07|         0|              0|          0|               0|
| Norte|    RO|2020-02-08|         0|              0|          0|               0|
| Norte|    RO|2020-02-09|         0|              0|          0|               0|
| Norte|    RO|2020-02-10|         0|              0|          0|               0|
| Norte|    RO|2020-02-11|         0|              0|          0|               0|
| Norte|    RO|2020-02-12|         0|              0|          0|               0|
| Norte|    RO|2020-02-13|         0|              0|          0|               0|
| Norte|    RO|2020-02-14|         0|              0|          0|               0|
| Norte|    RO|2020-02-15|         0|              0|          0|               0|
| Norte|    RO|2020-02-16|         0|              0|          0|               0|
| Norte|    RO|2020-02-17|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 20 rows

In [15]:
#3º Maneira
df2 = (spark
      .read
      .format("csv")
      .option("header","false")
      .option("inferschema","false")
      .option("delimiter",";")
      .load("/content/drive/MyDrive/DataSets/arquivo_geral.csv")
    )

df2 = df2.select(F.col("_c0").alias("Um"),
                 F.col("_c1").alias("Dois"),
                 F.col("_c2").alias("Três"),
                 F.col("_c3").alias("Quatro"),
                 F.col("_c4").alias("Cinco"),
                 F.col("_c5").alias("Seis"),
                 F.col("_c6").alias("Sete")
    
)

df2.show()

+------+------+----------+----------+---------------+-----------+----------------+
|    Um|  Dois|      Três|    Quatro|          Cinco|       Seis|            Sete|
+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
| Norte|    RO|2020-01-30|         0|              0|          0|               0|
| Norte|    RO|2020-01-31|         0|              0|          0|               0|
| Norte|    RO|2020-02-01|         0|              0|          0|               0|
| Norte|    RO|2020-02-02|         0|              0|          0|               0|
| Norte|    RO|2020-02-03|         0|              0|          0|               0|
| Norte|    RO|2020-02-04|         0|              0|          0|               0|
| Norte|    RO|2020-02-05|         0|              0|          0|               0|
| Norte|    RO|2020-02-06|         0|              0|          0|               0|
| Norte|    RO|2020-02-07|         0|              0|          0|               0|
| Norte|    RO|2020-02-08|         0|              0|          0|               0|
| Norte|    RO|2020-02-09|         0|              0|          0|               0|
| Norte|    RO|2020-02-10|         0|              0|          0|               0|
| Norte|    RO|2020-02-11|         0|              0|          0|               0|
| Norte|    RO|2020-02-12|         0|              0|          0|               0|
| Norte|    RO|2020-02-13|         0|              0|          0|               0|
| Norte|    RO|2020-02-14|         0|              0|          0|               0|
| Norte|    RO|2020-02-15|         0|              0|          0|               0|
| Norte|    RO|2020-02-16|         0|              0|          0|               0|
| Norte|    RO|2020-02-17|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 20 rows